@use '../../style/varieties.scss' as *;

.tag-selector-container {
  width: 100%;
  box-sizing: border-box;
  padding: 32rpx;
}

// 标签列表区域
.tag-list-section {
  margin-top: 24rpx;
  min-height: 30vh;
  display: flex;
  flex-wrap: wrap;
  gap: 16rpx;
  align-items: baseline;
}

// 空状态
.tag-empty-text {
  width: 100%;
  color: $text-muted;
  font-size: 26rpx;
}
