@use '../../style/varieties.scss' as *;

.tag-selector-container {
  width: 100%;
  box-sizing: border-box;
  padding: 32rpx;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
}

.tag-list-section {
  flex-wrap: wrap;
  flex: 1;
  align-items: baseline;
}

.tag-empty-text {
  width: 100%;
  color: $text-muted;
  font-size: 26rpx;
  margin-right: 16rpx;
  margin-bottom: 16rpx;
}
