@use "../../style/varieties.scss" as *;

.drawer-content {
  padding: 64px 32px;
  padding-bottom: calc(32px + env(safe-area-inset-bottom));
  background: $bg-color;
  min-height: 70vh;
}

.drawer-content .input-section {
  margin-bottom: 40px;
}

.drawer-content .content-input {
  width: 100%;
  min-height: 400px;
  padding: 24px;
  background: #fff;
  border-radius: 20px;
  font-size: 32px;
  line-height: 1.8;
  color: $text-primary;
  box-sizing: border-box;
}

.drawer-content .tag-section-title {
  display: flex;
  font-size: $base-size;
  font-weight: 600;
  color: $text-secondary;
  margin-bottom: 20rpx;
  text-align: right;
  gap: 16rpx;
  justify-content: flex-end;
  font-weight: lighter;
  margin-top: 4rpx;
}
